.para{
   height: 60%;
}
.para1{
    margin-top: 10px;
}
.p2{
    border:1px solid rgb(202, 201, 201);width:60%;background-color:rgb(243, 239, 233);
}
.pp1{
    border-bottom: 1px solid rgb(212, 211, 211);width: 45%;
}
.pp2{
    border-bottom: 1px solid rgb(212, 211, 211);width: 115%;
}
.pp3{
    width:115%;
}
.p4{
    margin-left:-4%;width:108%;height: 25%;

}
.p5{
    height:66%;width: 100%;
}
.para8{
    color: black;
}
.m1{
    margin-left: 85%;margin-top: -2%;
}
.m2{
    margin-right: 3%;text-decoration: none;
}